{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!--Sidebar content-->
                <p>SideBar</p>
            </div>
            <div class="span10">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Precio Total</th>
                        <th>Precio Regulado</th>
                    </tr>
                    </thead>
                    {% for obj in page_obj.object_list %}
                        <tr>
                            <td>{{ obj.id }}</td>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.precio_total }}</td>
                            <td>{{ obj.precio_regulado }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}