{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                <!--Sidebar content-->
                <form method="get" action="" class="form-horizontal well well-small search-form">
                    <div class="row-fluid">
                        {{ form.as_p }}
                        <div class="form-actions">
                            <input type="submit" class="btn" value="{% trans 'Search' %}">
                        </div>          
                    </div>         
                </form>
            </div>
            <div class="span6">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Precio Total</th>
                        <th>Precio Regulado</th>
                    </tr>
                    </thead>
                    {% for obj in page_obj.object_list %}
                        <tr>
                            <td>{{ obj.id }}</td>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.precio_total }}</td>
                            <td>{{ obj.precio_regulado }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}